<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href=<%= root_path %>>Food Vault</a> is a online food ordering website application, whose motive is to deliver food to our hungry users.
</p>