<div class="center jumbotron">
  <h1>Welcome to Food Vault!</h1>
  <h2>
    This is the home page for <a href="#">Food Vault</a> web application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>