<div class="container row">
    <h1><%= @category.category_name %></h1>
  <div class="col-4">
    <% @category.foods.each do |food| %>
      <div>
        <%= food.food_name %><br />
        <hr />
      </div>
    <% end %>
  </div>
</div>