<div class="row mx-auto">
  <h1><%= @category.category_name %></h1>
  
  <%= button_to "Add Food", new_category_food_path(@category), class: "btn btn-primary", method: :get  if admin? %>

  <%= image_tag(@category.category_image, alt:"Category Image", 
  class: "food-image mx-auto mb-5") %>

</div>
<div class="row">  
  <div class="col-md-3">
    <% @category.foods.each do |food| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
          <p class="card-text">
            <%= food.food_name %>
          </p>
        </div>    
      </div>
    <% end %>
  </div>
</div>