<div class="row">
  <div class="col-md-4">
    <% unless review.nil? %>
      <div class="card" style="min-width: 200px">
        <div class="card-header">
          <%= review.user.email %>
        </div>
        <div class="card-body">
          <%= review.content %>
          <% if review.user_id == current_user.id %>
            <%= link_to "delete", [review.restaurant, review], data: {turbo_method: :delete, turbo_confirm: "sure?"}, class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr />
  </div>
</div>